<audio loop controls id="music" style="display: none;">
  <source src="img/Durood_Ahle_Bayt.mp3" type="audio/mpeg">
</audio>
<!-- <button onclick="togglePlay()" class="btn btn-primary" style="position: fixed; bottom: 20px; left: 20px; z-index: 999;">
  <i class="fa fa-play"></i>
</button> -->

<!-- <button onclick="togglePlay()" class="btn btn-light play-btn" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; "> -->

    <i class="fa fa-play " onclick="togglePlay()" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; color:black "></i>
 

<!-- </button> -->
    <!-- Contact Section Start -->
    <!-- <section id="contact" class="section-padding">      
        <div class="contact-form">
          <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
              
              
            </div>
          </div>
        </div>   
      </section> -->
      <!-- Contact Section End -->
    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
        <div class="container">
            <!-- <div class="col-md-6 col-lg-6 col-sm-12"> -->
                <div class="footer-right-area wow fadeIn">
                  <h2>Contact Address</h2>
                  <div class="footer-right-contact">
                    
                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <br>
                      <p><a href="mailto:tomsaulnier@gmail.com">support@sawadeazam.org</a></p>
                      <p><a href="mailto:hello@tom.com">info@sawadeazam.org</a></p>
                    </div>

                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <br>
                      <p><a href="#">+91 7300864998</a></p>
                      <p><a href="#">+91 7300864998</a></p>
                    </div>

                    <div class="single-contact">
                        <div class="contact-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                        <br>
                        <p> Sawad-E-Aazam, Qazipur, Shahjahanpur, Uttar Pradesh, India - 242001</p>
                      </div>
                  </div>
                </div>
              <!-- </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                <ul class="social-icon">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61556524457707&mibextid=kFxxJD"><i class="icon-social-facebook"></i></a>
                  </li>
                  <!-- <li>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                  </li> -->
                  <li>
                    <a class="instagram" href="https://www.instagram.com/sawadeazamofficial?igsh=MThod3Nnd3B2aWV1aQ=="><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="youtube" href="https://youtube.com/@sawadeazamglobal?si=YWHCBoZyaN29DnmK"><i class="icon-social-youtube"></i></a>
                  </li>
                  
                </ul>
                <p>Copyright © 2024 Sawad-E-Azam All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
  
      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
          <i class="icon-arrow-up"></i>
      </a>
      <script>
        function togglePlay() {
          var music = document.getElementById("music");
          if (music.paused) {
            music.play();
          } else {
            music.pause(); 
          }
        }
      </script>

      <script>
       function generatePhoneNumber() {
        
          const currentDate = new Date();

          const phoneNumber = currentDate.getTime(); // Get current time in milliseconds

          document.getElementById("txnid").value = phoneNumber;
          document.getElementById("registration").value = phoneNumber;

        }

        window.onload = generatePhoneNumber;
      
      </script>
      <script>
        window.addEventListener('scroll', () => {
          document.body.classList.add('scrolled');
        });
      </script>
      <script>

                // Get form elements
        const form = document.querySelector('form');
        const nameInput = document.getElementById('name');
        const phoneInput = document.getElementById('phone');
        const addressInput = document.getElementById('address');
        const emailInput = document.getElementById('email');
        const amountInput = document.getElementById('amount');

        // Form submit event listener
        form.addEventListener('submit', e => {

          // Validate name
          if(nameInput.value.trim().length < 3) {
            e.preventDefault();
            nameInput.classList.add('is-invalid');
          }

          // Validate phone
          if(!/^\d{10}$/.test(phoneInput.value)) {  
            e.preventDefault();
            phoneInput.classList.add('is-invalid');
          }

          // Validate address
          if(addressInput.value.trim().length < 10) {
            e.preventDefault();
            addressInput.classList.add('is-invalid');
          }
          
          // Validate email
          if(!/^\S+@\S+\.\S+$/.test(emailInput.value)) {
            e.preventDefault();
            emailInput.classList.add('is-invalid');
          }
          //Validate amount less than Rs.7000
          if(!/^\d{1,4}(\.\d{1,2})?$/.test(amountInput.value)) {
            e.preventDefault();
            amountInput.classList.add('is-invalid');
          }
        });

        // Remove error on keyup
        nameInput.addEventListener('keyup', () => {
          nameInput.classList.remove('is-invalid');
        })

        // Similarly for other inputs
        phoneInput.addEventListener('keyup', () => {
          phoneInput.classList.remove('is-invalid'); 
        })

                // Add event listeners to inputs
        nameInput.addEventListener('input', checkValidation);
        phoneInput.addEventListener('input', checkValidation);
        addressInput.addEventListener('input', checkValidation);
        emailInput.addEventListener('input', checkValidation);
        amountInput.addEventListener('input', checkValidation);

        function checkValidation(e) {

          // Get input that triggered event
          const input = e.target;

          // Remove existing errors
          input.classList.remove('is-invalid');

          switch(input.id) {
            
            case 'name': 
              if(input.value.trim().length < 3) {
                input.classList.add('is-invalid');
              }
              break;

            case 'phone':
              if(!/^\d{10}$/.test(input.value)) {
                input.classList.add('is-invalid');
              }  
              break;
            
            case 'address':
              if(input.value.trim().length < 10) {
                input.classList.add('is-invalid');
              }
              break;

            case 'email':
              if(!/^\S+@\S+\.\S+$/.test(input.value)) {
                input.classList.add('is-invalid'); 
              }
              break;
            case 'amount':
            if(!/^\d{1,4}(\.\d{1,2})?$/.test(input.value)) {
              input.classList.add('is-invalid'); 
            }
            break;
          }

        }


      </script>

      <script>
        async function initiatePayment(e) {
          e.preventDefault();
         
         
            const data = { 
                name: document.getElementById("name").value1,
                phone: document.getElementById("phone").value,
                amount: '200.00',
                txnid: '1710170032671',
                productinfo: 'suffa-essay-competetion',
                surl: 'https://sawadeazam.org/pay/response',
                furl: 'https://sawadeazam.org/pay/response',
                email: document.getElementById("email").value,
                address: document.getElementById("address").value,
                udf1: '',
                udf2: '',
                udf3: '',
                udf4: '',
                udf5: '',
                address1: '',
                address2: '',
                city: '',
                state: '',
                country: '',
                zipcode: '',
                sub_merchant_id: '',
                unique_id: '',
                split_payments: '',
                customer_authentication_id: '',
                udf6: '',
                udf7: '',
                udf8: '',
                udf9: '',
                udf10: ''
            };

            axios.post("/pay/initiate_payment", data)
            .then(response => {
              console.log("Response from backend:", response.data);
              // Optionally, handle response from backend
              // For example, you can display a success message to the user
              alert("Payment successful!");
              // Submit the form after payment is successful
              document.getElementById("paymentForm").action = "/pay/initiate_payment";
              document.getElementById("paymentForm").enctype = "multipart/form-data";
              // document.getElementById("submitButton").click();
            })
            .catch(error => {
              console.error("Error:", error);
              // Handle errors, if any
              // For example, you can display an error message to the user
              alert("An error occurred. Please try again later.");
            });

      }
            
      </script>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.mixitup.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/wow.js"></script>
      <script src="js/jquery.nav.js"></script>
      <script src="js/jquery.easing.min.js"></script>  
      <script src="js/nivo-lightbox.js"></script>
      <script src="js/jquery.slicknav.js"></script>
      <script src="js/main.js"></script>
        
    </body>
  </html>