<audio loop controls id="music" style="display: none;">
  <source src="img/Durood_Ahle_Bayt.mp3" type="audio/mpeg">
</audio>
<!-- <button onclick="togglePlay()" class="btn btn-primary" style="position: fixed; bottom: 20px; left: 20px; z-index: 999;">
  <i class="fa fa-play"></i>
</button> -->

<!-- <button onclick="togglePlay()" class="btn btn-light play-btn" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; "> -->

    <i class="fa fa-play " onclick="togglePlay()" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; color:black "></i>
 

<!-- </button> -->
    <!-- Contact Section Start -->
    <!-- <section id="contact" class="section-padding">      
        <div class="contact-form">
          <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
              
              
            </div>
          </div>
        </div>   
      </section> -->
      <!-- Contact Section End -->
    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
            <!-- <div class="col-md-6 col-lg-6 col-sm-12"> -->
                <div class="footer-right-area wow fadeIn">
                  <h2>Contact Address</h2>
                  <div class="footer-right-contact">
                    
                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <br>
                      <p><a href="mailto:tomsaulnier@gmail.com">support@sawadeazam.org</a></p>
                      <p><a href="mailto:hello@tom.com">info@sawadeazam.org</a></p>
                    </div>

                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <br>
                      <p><a href="#">+91 7300864998</a></p>
                      <p><a href="#">+91 7300864998</a></p>
                    </div>

                    <div class="single-contact">
                        <div class="contact-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                        <br>
                        <p> Sawad-E-Aazam, Qazipur, Shahjahanpur, Uttar Pradesh, India - 242001</p>
                      </div>
                  </div>
                </div>
              <!-- </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                <ul class="social-icon">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61556524457707&mibextid=kFxxJD"><i class="icon-social-facebook"></i></a>
                  </li>
                  <!-- <li>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                  </li> -->
                  <li>
                    <a class="instagram" href="https://www.instagram.com/sawadeazamofficial?igsh=MThod3Nnd3B2aWV1aQ=="><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="youtube" href="https://youtube.com/@sawadeazamglobal?si=YWHCBoZyaN29DnmK"><i class="icon-social-youtube"></i></a>
                  </li>
                  
                </ul>
                <p>Copyright © 2024 Sawad-E-Azam All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
  
      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
          <i class="icon-arrow-up"></i>
      </a>
      <script>
        function togglePlay() {
          var music = document.getElementById("music");
          if (music.paused) {
            music.play();
          } else {
            music.pause(); 
          }
        }
      </script>
      <script>
        async function initiatePayment() {

          function getCurrentDateTimeNumbers() {

            const now = new Date();

            let date = now.getDate();
            if(date < 10) {
              date = '0' + date;
            }

            let hours = now.getHours();
            if(hours < 10) {
              hours = '0' + hours;
            }

            let minutes = now.getMinutes();
            if(minutes < 10) {
              minutes = '0' + minutes;
            }

            let seconds = now.getSeconds();
            if(seconds < 10) {
              seconds = '0' + seconds;
            }

            let milliseconds = now.getMilliseconds();
            if(milliseconds < 100) {
              milliseconds = '0' + milliseconds; 
            }

            return `${date}${hours}${minutes}${seconds}${milliseconds}`;

          }

          const transactionId = getCurrentDateTimeNumbers();
          const amount = 200.00
          const formData = new FormData();
            
          formData.append('name', form.name.value);
          formData.append('email', form.email.value);
          formData.append('phone', form.phone.value);
          formData.append('amount', amount); 
          formData.append('transactionId', transactionId);
          formData.append('productinfo', 'suffa-essay-competetion');
          formData.append('furl', '/pay/response');
          formData.append('surl', '/pay/response');


          const response = await fetch('/pay/initiate_payment', {
            method: 'POST', 
            body: formData 
          });

          const data = await response.json();

          if(data.status === 'success') {

              document.querySelector('button[type="submit"]').disabled = false; 
              
              document.querySelector('input[name="easepayid"]').value = data.easepayId;

              document.querySelector('input[name="payment_status"]').value = data.status;

            //add other values like easepayid, etc.
            }

          }
      </script>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.mixitup.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/wow.js"></script>
      <script src="js/jquery.nav.js"></script>
      <script src="js/jquery.easing.min.js"></script>  
      <script src="js/nivo-lightbox.js"></script>
      <script src="js/jquery.slicknav.js"></script>
      <script src="js/main.js"></script>
        
    </body>
  </html>
  