<audio loop controls id="music" style="display: none;">
  <source src="img/Durood_Ahle_Bayt.mp3" type="audio/mpeg">
</audio>
<!-- <button onclick="togglePlay()" class="btn btn-primary" style="position: fixed; bottom: 20px; left: 20px; z-index: 999;">
  <i class="fa fa-play"></i>
</button> -->

<!-- <button onclick="togglePlay()" class="btn btn-light play-btn" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; "> -->

    <i class="fa fa-play" id="music-btn" onclick="togglePlay()" style="position: fixed; bottom: 20px; left: 20px; z-index: 999; color:black "></i>
 


  

      <!-- <section>Footer Example 4</section> -->
      <footer class="footer-distributed">
     
            <div class="footer-left">
      
              <h3><a href="/" ><img src="/img/sawadeazam_logo_dark.png" height="80" alt="Sawaad-E-Azam" /></a></h3>
      
              <p class="footer-links">
                <a href="/" class="link-1">Home</a>
                
                <a href="/terms-and-privacy/#Terms"> Terms and Conditions </a>
              
                <a href="/terms-and-privacy/#Privacy"> Privacy Policy </a>
              
                <a href="/registration"> رجسٹریشن کریں /Register now </a>
                
                
              </p>
      
            </div>
     
            <div class="footer-center">
      
              <div class="">
                <i class="fa fa-map-marker"></i>
                <p>Sawad-E-Aazam, Qazipur, Shahjahanpur, Uttar Pradesh, India - 242001</p> 
              </div>
              <br>
              <div class="">
                <i class="fa fa-phone"></i>
                <p>+91 7300864998; </p>
                <p>+91 7209525060</p>
              </div>
              <br>
              <div class="">
                <i class="fa fa-envelope"></i>
                <p><a style="color:aliceblue;" href="mailto:support@sawadeazam.org">support@sawadeazam.org,</a></p>
                <!-- <p><a style="color:aliceblue;" href="mailto:info@sawadeazam.org">info@sawadeazam.org</a></p> -->
              </div>
      
            </div>
      
            <div class="footer-right">
      
              <p class="footer-company-about">
                <span>Our Moto</span>
                Foster Islamic sciences, arts, and culture, Sawaad-E-Azam strives for peace, harmony, and justice across the Muslim ummah and beyond.
              </p>
      
              <div class="footer-icons">
      
                <a href="https://www.facebook.com/profile.php?id=61556524457707&mibextid=kFxxJD"><i class="fa fa-facebook"></i></a>
                <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                <a href="https://www.instagram.com/sawadeazamofficial?igsh=MThod3Nnd3B2aWV1aQ=="><i class="fa fa-instagram"></i></a>
                <a href="https://youtube.com/@sawadeazamglobal?si=YWHCBoZyaN29DnmK"><i class="fa fa-youtube"></i></a>
      
              </div>
      
            </div>
            <p class="footer-company-name">Sawad-E-Aazam © 2024: All Rights Reserved</p>
      
          </footer>




      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
          <i class="icon-arrow-up"></i>
      </a>
      <script>
        function togglePlay() {
          var music = document.getElementById("music");
          var musicBtn = document.getElementById('music-btn');
          if (music.paused) {
            music.play();
            musicBtn.classList.remove('fa-play');
            musicBtn.classList.add('fa-pause');
          } else {
            music.pause(); 
            musicBtn.classList.remove('fa-pause');
            musicBtn.classList.add('fa-play');
          }
        }
      </script>

      <script>
       function generatePhoneNumber() {
        
          const currentDate = new Date();

          const phoneNumber = currentDate.getTime(); // Get current time in milliseconds

          document.getElementById("txnid").value = phoneNumber;
          document.getElementById("registration").value = phoneNumber;

        }

        window.onload = generatePhoneNumber;
      
      </script>
      <script>
        window.addEventListener('scroll', () => {
          document.body.classList.add('scrolled');
        });
      </script>
      

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.mixitup.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/wow.js"></script>
      <script src="js/jquery.nav.js"></script>
      <script src="js/jquery.easing.min.js"></script>  
      <script src="js/nivo-lightbox.js"></script>
      <script src="js/jquery.slicknav.js"></script>
      <script src="js/main.js"></script>
        
    </body>
  </html>