<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
	<div class="container-fluid">
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse d-lg-flex collapse" id="navbarsExample11" style="">
			<a class="navbar-brand col-lg-3 me-0" href="#">Centered nav</a>
			<ul class="navbar-nav col-lg-6 justify-content-lg-center">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
			<div class="d-lg-flex col-lg-3 justify-content-lg-end">
				<button class="btn btn-primary">Button</button>
			</div>
		</div>
	</div>
</nav>




<nav class="navbar navbar-expand fixed-top scrolling-navbar indigo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/img/sawadeazam_logo.png" height="80" alt="Sawaad-E-Azam" /></a>
        </div>
        <!-- <div class="collapse navbar-collapse" id="main-navbar"> -->
        <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
            <!-- <li class="nav-item">
                <a class="nav-link" href="/#hero-area"> Home </a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Sections </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/#Majlis"> Majlise Muhammadi ﷺ </a></li>
                    <li><a class="dropdown-item" href="/#Khalid">Khalid Technical Team </a></li>
                    <li><a class="dropdown-item" href="/#Al-Ahad"> Al-Ahad Baytul Maal</a></li>
                    <li><a class="dropdown-item" href="/#Ammar_media"> Ammar Islamic Media </a></li>
                    <li><a class="dropdown-item" href="/#Majlidefarooq"> Majlis e Farooq </a></li>
                    <li><a class="dropdown-item" href="/#Sunnat_Tijarat"> Sunnat Tijarat Assembly</a></li>
                    <li><a class="dropdown-item" href="/#Sunnat_Tababat"> Sunnat Tababat Assembly</a></li>
                </ul>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/terms-and-privacy"> Terms and Privacy </a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="#footer"> Contact Us </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link highlight animated-shadow" href="https://forms.gle/oErB9eabKCBq3hDs8n"> رجسٹریشن کریں /Register now </a>
                <!-- <a class="nav-link highlight" href="/registration"> رجسٹریشن کریں /Register now </a> -->
            </li>
        </ul>
        <!-- </div> -->

        <!-- Mobile Menu Start -->

        <!-- <div class="mobile-nav-header">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <button class="btn-custom" id="imdadBtn">IMDAD</button>
        </div>
        <ul class="onepage-nev mobile-menu">
            <li>
                <a href="/#hero-area"> Home </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Sections </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/#Majlis"> Majlise Muhammadi ﷺ </a></li>
                    <li><a class="dropdown-item" href="/#Khalid">Khalid Technical Team </a></li>
                    <li><a class="dropdown-item" href="/#Al-Ahad"> Al-Ahad Baytul Maal</a></li>
                    <li><a class="dropdown-item" href="/#Ammar_media"> Ammar Islamic Media </a></li>
                    <li><a class="dropdown-item" href="/#Majlidefarooq"> Majlis e Farooq </a></li>
                    <li><a class="dropdown-item" href="/#Sunnat_Tijarat"> Sunnat Tijarat Assembly</a></li>
                    <li><a class="dropdown-item" href="/#Sunnat_Tababat"> Sunnat Tababat Assembly</a></li>
                </ul>
            </li>
            <li>
                <a href="/terms-and-privacy"> Terms and Privacy </a>
            </li>

            <li>
                <a href="#footer"> Contact Us </a>
            </li>

            <li>
                <a href="https://forms.gle/oErB9eabKCBq3hDs8" class="highlight animated-shadow"> رجسٹریشن کریں /Register now </a>
                <!-- <a href="/registration" class="highlight"> رجسٹریشن کریں /Register now </a> -->
            <!-- </li>
        </ul>
    </div>   -->
    <!-- Mobile Menu End -->
</nav>
