
<%- include('./partials/head.ejs') %>

<section class="section-padding services">
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success</h4>

    <p>You have successfully registered at Sawad-E-Aazam for Suffa Essay Competetion.
    We will contact you shortly with further details.
    </p>
        
      </div>
    </div>
</section>

<%- include('./partials/bottom.ejs') %>
