
<%- include('./partials/head.ejs') %>
      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        
        <div class="overlay"></div>
        <div class="container">
          
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              
              <div class="contents">
                
                <h1 class="head-title wow fadeInUp" data-wow-delay="0.4s">Sawad-E-Azam</h1>
                <h2 class=".counterUp wow fadeInUp" data-wow-delay="0.2s" style="padding-bottom: 0.7rem;">International Council of Indians</h2>
                <h2 class=".counterUp wow fadeInUp" data-wow-delay="0.2s" style="padding-bottom: 0.7rem;">A Vision for a Global Islamic Community</h2>
                <p class="wow fadeInUp" data-wow-delay="0.6s">Embarking on a journey to foster Islamic sciences, arts, and culture, Sawaad-E-Azam strives for peace, harmony, and justice across the Muslim ummah and beyond.</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61556524457707&mibextid=kFxxJD"><i class="icon-social-facebook"></i></a>
                  </li>
                  <!-- <li>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                  </li> -->
                  <li>
                    <a class="instagram" href="https://www.instagram.com/sawadeazamofficial?igsh=MThod3Nnd3B2aWV1aQ=="><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="youtube" href="https://youtube.com/@sawadeazamglobal?si=YWHCBoZyaN29DnmK"><i class="icon-social-youtube"></i></a>
                  </li>
                  
                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a href="https://chat.whatsapp.com/BkUhJxnpoVB23ObzBTGePcl" class="btn btn-common">Join our community</a>
                </div>

                <div class="header-button wow fadeInUp btn-event" data-wow-delay="1s">

                  <a href="/registration" style="background: #4285F4;" class="btn btn-common animated-shadow">
                    رجسٹریشن کریں |Register now <br>
                    Suffa Essay Competetion
                  </a>

                  <!-- <a href="https://forms.gle/oErB9eabKCBq3hDs8" style="background: #4285F4;" class="btn btn-common animated-shadow-hero">
                    رجسٹریشن کریں /Register now <br>
                    Suffa Essay Competetion
                  </a> -->
                </div>

                <div class="header-button wow fadeInUp btn-event" data-wow-delay="1s">

                  <a href="https://forms.gle/R72wyeDM8cN2vaeY8" style="background: #4285F4;" class="btn btn-common animated-shadow">مقالہ یہاں جمع کریں|
                    Submit Article
                  </a>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    
    <section id="intro" class="section-padding">
      <div class="container">
        <!-- <video src="https://youtu.be/orpWnHJC8oo" autoplay></video> -->
        <center class="flex-container">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/orpWnHJC8oo" title="A Vision for a Global Islamic Community | Sawade Azam International Council of Indians." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            
          </iframe>
          
                    
        </center>

        <center>
          <!-- <img src="/img/sawade_azam_logo.png" class="img-fluid" alt="Sawad-E-Azam Logo - Image not Available"> -->
          <img src="/img/sawade_azam_logo.png" class="sawadwazam-img" alt="Sawad-E-Azam Logo - Image not Available">

        </center>

        <h2 class="services-item services-content section-title wow flipInX">PROGRAMS OF SAWAD-E-AZAM</h2>
        <div class="">
          <div class="">

            
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Majlise Muhammadi ﷺ
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                     <ol>
                      <a href="Majlis" class="collapse-bar-sub-section"><li>Bazme As'haabe Suffa program</li></a>
                      <a href="Majlis" class="collapse-bar-sub-section"><li>Mur'taza Ali Board program</li></a>
                      <a href="Majlis" class="collapse-bar-sub-section"><li>​Ahle Bayt Spiritual Centres​</li></a>
                      <a href="Majlis" class="collapse-bar-sub-section"><li>​Al-Hudaa Community</li></a>
                     </ol>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Khalid Technical Team
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <ol>
                        <a href="Khalid" class="collapse-bar-sub-section"><li>Research Department</li></a>
                        <a href="Khalid" class="collapse-bar-sub-section"><li>Downloads</li></a>                       
                      </ol>
                    </div>
                  </div>
                </div>
                

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Al-Ahad Baytul Maal
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <ol>
                        <a href="Al-Ahad" class="collapse-bar-sub-section"><li>Zainul Abedeen Welfare Community</li></a>
                        <a href="Al-Ahad" class="collapse-bar-sub-section"><li>House of Wealth</li></a>
                        <a href="Al-Ahad" class="collapse-bar-sub-section"><li>Business Alliances</li></a>
                        <a href="Al-Ahad" class="collapse-bar-sub-section"><li>Agricultural Collaboration​</li></a>
                       </ol>
                       
                       
                    </div>
                  </div>
                </div>
              
                

                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        Ammar Islamic Media
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                      <ol>
                        <a href="Ammar_media" class="collapse-bar-sub-section"><li>News</li></a>
                        <a href="Ammar_media" class="collapse-bar-sub-section"><li>Legal Awareness</li></a>
                      </ol>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Majlis e Farooq
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"Legal data-parent="#accordionExample">
                    <div class="card-body">

                      <ol>
                        <a href="Majlidefarooq" class="collapse-bar-sub-section"><li>Abu Musa Da'rul Qazas (Islamic Panchayat)</li></a>
                        <a href="Majlidefarooq" class="collapse-bar-sub-section"><li>Zulfiqar Board of Justice</li></a>
                      </ol>                      
                      
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Sunnat Tijarat Assembly
                      </button>
                    </h2>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix"Legal data-parent="#accordionExample">
                    <div class="card-body">

                      <ol>
                        <a href="Sunnat_Tijarat" class="collapse-bar-sub-section"><li>Siddeeq Board</li></a>
                        <a href="Sunnat_Tijarat" class="collapse-bar-sub-section"><li>Zoonnoorain Platform</li></a>
                      </ol>                      
                      
                    </div>
                  </div>
                </div>



                <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed collapse-bar" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Sunnat Tababat Assembly
                      </button>
                    </h2>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"Legal data-parent="#accordionExample">
                    <div class="card-body">

                      <ol>
                        <a href="Sunnat_Tababat" class="collapse-bar-sub-section"><li>Research Department</li></a>
                        <a href="Sunnat_Tababat" class="collapse-bar-sub-section"><li>Infrastructure Department </li></a>
                      </ol>                      
                      
                    </div>
                  </div>
                </div>


              </div>
            
          </div>
      </div>
      </div>
    </section> 
    

    <!-- Services Section Start -->
    <section id="Majlis" class="services section-padding">
      
      <div class="container">
        <div class="card mb-3">
          <img src="/img/majlis.jpg" height="350vh" class="card-img-top" alt="..."
          style="object-fit: cover; 
            object-position: 50% 35%;"
          >
          <div class="card-body">
            <h2 class="card-title section-title wow flipInX" data-wow-delay="0.4s">Majlise Muhammadiﷺ: The Foundation of Sawad-E-Azam</h2>
            <h6 class="card-text">Sawaad-E-Azam NGO's foundation lies in the 'Majlise Muhammadi', an assembly composed of experienced and knowledgeable Islamic scholars and saints.  The primary goals of this assembly are:
              <ul>
                <li>
                  1. Conducting modern research on Islamic jurisprudence for all four schools of thought - Hanafi, Shafi'i, Maliki, and Hanbali, and also to rectify distorted historical narratives.
                </li>
                <li>
                  2. Addressing theological issues within the Muslim community in accordance with Ahle Sunnat principles.Establishing connections between different Masjids.
                </li>
                <li>
                  3. Compiling a contemporary encyclopedia and rediscovering forgotten Islamic sciences, arts, and subjects.
                </li>
                <li>
                  4. Endeavoring to resolve interpersonal disagreements among the Ahle Sunnat and unifying them based on fundamental Islamic principles, while promoting unity among aimma and ulama (Islamic leaders and scholars).
                </li>
                <li>
                  5. Promoting and practicing the teachings of Sufi saints of Islam.
                </li>
              </ul>
             Sections to be established under 'Majlise Muhammadi ﷺ include </h6>
          </div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12" >
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <img height="150vh" width="" src="/img/suffa_logo.png" alt="" srcset="">
              </div>
              <div class="services-content">
                <h3><a >Bazme As'haabe Suffa—Research & Jurisprudence</a></h3>
                <p>Conducting modern research across all four schools of thought to revive and rectify Islamic jurisprudence, theological and historical narratives.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <img height="150vh" width="" src="/img/ali_board.png" alt="" srcset="">
              </div>
              <div class="services-content">
                <h3><a >Mur’taza Ali Board—Educational Infrastructure</a></h3>
                <p>Establishes Islamic schools globally with implementation of updated curriculam, promotes self-defense, offers separate sections for boys & girl.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <img height="150vh" width="" src="/img/ahle_bait_logo.png" alt="" srcset="">
              </div>
              <div class="services-content">
                <h3><a >Ahle Bayt— Spiritual Centres</a></h3>
                <p>Establishing spiritual centers worldwide to cater to the spritual needs of the Muslim community. Offer spiritual guidance across lineages, fostering practices like purification and refinement.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <img height="150vh" width="" src="/img/alhuda_logo.png" alt="" srcset="">
              </div>
              <div class="services-content">
                <h3><a >Al-Huda Community.</a></h3>
                <p>Expert educators empowecring youth for academic success, career planning, social service, environmental activities and sports.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Khalid Tech Team Start -->
    <section class="section-padding" id="Khalid">
    <div class="container">
      <!-- Head -->
    <div class="card mb-3" ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/img/khalid.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body services-item services-content" >
            <h4 class="section-title wow flipInX"><img src="/img/khalid_logo.png" height="75">Khalid Technical Team</h4>
            <h5 class="card-title " ><b> Spreading Islamic Teachings</b></h5>
            <h6 class="card-text">The 'Khalid Technical Team', an essential component of our initiatives, will actively promote our objectives and spread Islamic thoughts and teachings.</h6>
          </div>
        </div>
      </div>
    </div>

    <!--Cards Sub-Section start -->

    <div class="card-group">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title medium-title">Research Department</h4>
          <h6 class="card-text">Enhancing the reach of Islamic thoughts and teachings and striving to present pure and peaceful Islam to the global community.</h6>
        </div>        
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title medium-title">Information Technology</h4>
          <h6 class="card-text">Developing apps and raising awareness against heresy, tailored to the objectives of Sawad-E-Azam.</h6>
        </div>       
      </div>
    </div>
    <!--Cards Sub-Section end -->

  </div>
    </section>
    <!-- Khalid Tech Team End -->

    <!-- Baitul maal start -->

    <!-- divider image -->
    <!-- <img src="/img/grey1.jpg" height="250vh" width="100%" class="" style="object-fit: cover; 
    object-position: 50% 50%;" > -->

  <section class="services section-padding" id="Al-Ahad" >
    <div class="container">
      
      <div class="card mb-3">
        <img src="/img/al_ahad_banner.jpg" height="350vh" class="card-img-top" alt="..."
        style="object-fit: cover; 
          object-position: 50% 45%;"
        >
        <div class="card-body services-item services-content">
          <h4 class="card-title section-title wow flipInX"><img src="/img/al_ahad_logo.png" height="75">Al-Ahad Baitul Maal</h4>
          <h5 class="card-subtitle mb-2 text-body-secondary medium-title"><b>Financial Empowerment</b></h5>
          <p class="card-text medium-content">'Al-Ahad Baitul Maal' aims to provide financial assistance to those in need, specifically the 'Sawade Azam' community. This institution will be established in multiple locations, and it consists of four divisions: 'House of Wealth', 'Donations', 'Businesses alliances', and 'Agricultural collaboration'.</p>
          
          
          <table class="table 6" style="text-align: left; margin-top: 2rem;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Section</th>
                <th scope="col">Motivation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>House of Wealth</td>
                <td>Providing financial aid to those in need within the community.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Business Alliances</td>
                <td>Supporting entrepreneurs to establish and grow their businesses.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Agricultural Collaboration</td>
                <td>Empowering agricultural pursuits with financial assistance and guidance.</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td >Zainul Abedeen Welfare Community</td>
                <td>Aiding to the needy. </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
    <!-- Baitul maal section end -->

    <!-- Ammar Islamic media start -->
  <section id="Ammar_media"class="section-padding">
    <div class="container">

      <div class="card" >
        <img src="/img/ammar_banner.jpg"  height="350" class="card-img-top" alt="..." style="object-fit: cover; 
        object-position: 50% 50%;">
        <div class="card-body services-item services-content">
          <h4 class="card-title section-title wow flipInX" style="padding: 0 0 0 0 !important;">
          <img src="/img/ammar_media_logo.png" height="75" alt="...">Ammar Islamic Media</h4>
          <p class="card-text medium-content">Another significant group established under Sawad-E-Azam is the 'Ammar Islamic Media'. This platform addresses the concerns of the Muslim community, working tirelessly to eliminate hatred and foster peace and brotherhood. This media group will also raise awareness about laws, values, and rights.</p>
        </div>
        <ul class="card list-group list-group-flush">
          
          <li class="list-group-item">
            <div class="card-title medium-title" style="line-height: 3rem;"><b>News</b></div>
            <div class="medium-content">Provide to the latest news update from Islamic world and updates from Sawaad-E-Azam. </div></li>
          
          <li class="card-body list-group-item">
            <div class="card-title medium-title"><b>Legal Awareness</b></div>
            <div class="medium-content">Through our Legal Awareness program, we strive to educate and inform individuals about their rights and responsibilities under the law.</div></li>
        </ul>
        
      </div>

    </div>  
  </section>
    <!-- Ammar Islamic media section end -->

    <!-- Majlise Farooq section start -->

    <section id="Majlidefarooq" class="services section-padding">
      
      <div class="container">
        <div class="card mb-3">
          <img src="/img/farooq_banner.jpg" height="350" class="card-img-top" alt="..." style="object-fit: cover; 
          object-position: 50% 39%;">
          <div class="card-body">
            <h2 class="card-title section-title wow flipInX" data-wow-delay="0.4s"><img src="/img/farooq_logo.png" height="75">Majlise Farooq </h2>
            <center>
            <h5 class="card-subtitle mb-2 text-body-secondary medium-title"><b>Empowering Communities</b></h5>
            </center>
            <h6 class="card-text">Witness the synergy of 'Abu Musa Darul Qazas' and 'Zulfiqar' Board, two divisions working in harmony to uphold the values of Islamic scholarship and legal advocacy.
              
             Sections to be established under Majlise Farooq include: </h6>
          </div>

          <!-- sub-section start -->
          <div class="card-group">

            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">‘Abu Musa Darul Qaza’</h4>
                <h6 class="card-text">This division aims to establish 'Islamic Darul Qaza' or Islamic panchayats in various locations to resolve interpersonal disputes within society. These panchayats will follow Islamic principles and provide a platform for individuals to seek justice and resolve conflicts in a fair and impartial manner. The goal is to promote peace, harmony, and justice within the community.</h6>
              </div>        
            </div>
      
            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">'Zulfiqar' Board of Justice</h4>
                <h6 class="card-text">In cases where disputes cannot be resolved in the Islamic panchayats. 'Zulfiqar' Board of Justice will step in to assist. The team of advocates of Board will work towards facilitating resolutions and ensuring that the rights of individuals are protected. They will guide the parties involved in the dispute through the legal process and provide support in navigating the complexities of the legal system.</h6>
              </div>       
            </div>
          </div>
          <!-- sub-section end -->



        </div>
      </div>
    </section>

    <!-- Majlise Farooq section end -->

    <!-- Sunnat Tijarat section start -->

    <section id="Sunnat_Tijarat" class="section-padding">
      <div class="container">


        <div class="card mb-3">
          <img src="/img/sunnat_tijarat_banner.jpg" height="350" class="card-img-top" alt="..." style="object-fit: cover; 
          object-position: 50% 65%;">
          <div class="card-body">
            <h2 class="card-title section-title wow flipInX" data-wow-delay="0.4s"><img src="/img/sunnat_tijarat_logo.png" height="75">Sunnat Tijarat Assembly</h2>
            <center>
            <h5 class="card-subtitle mb-2 text-body-secondary medium-title"><b>Ignite Your Business</b></h5>
            </center>
            <h6 class="card-text">Welcome to the Sunnat Tijarat Assembly, where we are dedicated to igniting your business and fueling your entrepreneurial spirit. Our assembly is a hub of commerce and innovation, providing a platform for individuals and organizations to connect, collaborate, and thrive in the global business landscape.
              Join our vibrant community of business leaders, industry experts, and aspiring entrepreneurs who share a common goal: to unlock the full potential of their businesses. Through workshops, seminars, and mentorship programs, we provide you with the knowledge, skills, and guidance to navigate the ever-evolving business landscape and achieve sustainable growth.
              Ignite your business and embark on a journey of growth, innovation, and success with Sunnat Tijarat Assembly. Together, let's shape the future of commerce and create a thriving global Islamic business community.
              As a member of the Sunnat Tijarat Assembly, you will not only gain access to a supportive community, but also to exclusive resources tailored to the needs of Islamic businesses. Our platform offers up-to-date market insights, industry trends, and expert advice to help you stay ahead of the competition. Join us today and be part of a movement that is revolutionizing the way Islamic businesses operate and succeed.</h6>
          </div>

          <!-- sub-section start -->
          <div class="card-group">

            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">Siddeeq Board</h4>
                <h6 class="card-text">The aim of this section is to identify and provide employment opportunities for unemployed individuals with talents or skills. For those lacking such skills, the assembly will offer training in their respective areas of interest before providing employment.</h6>
              </div>        
            </div>
      
            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">'Zunnoorain' platform</h4>
                <h6 class="card-text">The 'Zunnoorain' platform, fosters connections among merchants and businessmen involved in our initiatives. This interconnected network of businesses will promote growth and collaboration, strengthening trade within the community.</h6>
              </div>       
            </div>
          </div>
          <!-- sub-section end -->



        </div>
      </div>
    </section>

    <!-- Sunnat Tijarat section start -->
    <!-- divider -->
    <!-- <img src="..." class="img-fluid" alt="Divider"> -->
    <!-- divider -->


    <!-- Sunnat Tabbat Section Start -->
    <section id="Sunnat_Tababat" class="services section-padding">

      <div class="container">
        <div class="card mb-3">
          <img src="/img/sunnat_tababat_banner.jpg" height="350" class="card-img-top" alt="..." style="object-fit: cover; 
          object-position: 50% 35%;">
          <div class="card-body">
            <h2 class="card-title section-title wow flipInX" data-wow-delay="0.4s"><img src="/img/sunnat_tababat_logo.png" height="75">Sunnat Tababat Assembly</h2>
            <center>
              <h5 class="card-subtitle mb-2 text-body-secondary medium-title"><b>Discover the Power of Sunnat</b></h5>
            </center>
            <h6 class="card-text">To address healthcare needs, the 'Sunnat Tababat Assembly' will be established. This assembly will focus on establishing health research centers and constructing hospitals. These facilities will ensure the presence of separate sections with male and female doctors to cater to both genders. Additionally, specialized birthing centers with female doctors will be established. The assembly will actively engage in researching emerging diseases and developing corresponding treatments and medications.</h6>
          </div>

          <!-- sub-section start -->
          <div class="card-group">

            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">Healthcare Research Department</h4>
                <h6 class="card-text">The Research Department of Sawad-E-Azam NGO plays a crucial role in conducting in-depth research and analysis on various topics related to our programs and initiatives.</h6>
              </div>        
            </div>
      
            <div class="card">
              <div class="card-body">
                <h4 class="card-title medium-title">Healthcare Infrastructure Department</h4>
                <h6 class="card-text">The Infrastructure Department of Sawad-E-Azam NGO is responsible for managing and maintaining the physical infrastructure of our organization.</h6>
              </div>       
            </div>
          </div>
          <!-- sub-section end -->



        </div>
      </div>
    </section>
    <!-- Sunnat Tabbat Section End -->

    <!-- Education Section Start -->
    <div id="education" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sakeenatul Uloom : Online education platform for Girls</h3>
                    <span> </span>
                    <p class="line-text">Sakeenatul Uloom offers a unique and valuable opportunity for girls to flourish in both religious studies and secular education, all from the comfort and security of their own homes. This innovative program caters to the needs of girls who seek to deepen their understanding of their faith while simultaneously equipping themselves with the knowledge and skills necessary to thrive in the modern world.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sairunnoor: Nurturing Young Minds</h3>
                    <span></span>
                    <p class="line-text">
                      Madrasa Sairunnoor is dedicated to providing a <b>nurturing environment</b> for students to <b>excel</b> in the memorization and recitation of the Quran, emphasizing <b>tajweed</b> (proper pronunciation). Through <b>dedicated</b> and <b>qualified instructors</b>, the madrasa fosters a love for the Quran and equips students with the necessary skills to become <b>confident reciters</b>.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Duroosul Kitab Academy: Online Islamic Education</h3>
                    <span> </span>
                    <p class="line-text">Duroosul Kitab Academy provides a readily accessible and comprehensive online platform for Muslims seeking to expand their understanding of Islam's essential and foundational teachings. Their structured online courses delve into the obligatory tenets and fundamental principles of the faith, allowing learners to engage in their spiritual growth at their own pace.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Available Courses</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Muslim Course</h3>  <span>6 Months</span>
                    <p class="line-text">
                      Online course of mandatory teachings of Islam, allowing individuals to learn at their own pace and deepen their understanding of the faith.h3>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Nazira Course</h3>
                    <span>3 Months</span>
                    <p class="line-text">
                      This is our Nazira program designed to guide you in reciting the Holy Quran with accuracy and confidence. This course is ideal for beginners of all ages who wish to establish a strong foundation in Qur'anic recitation. 
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Tahfeezunnor Course</h3>
                    <span></span>
                    <p class="line-text">
                      Tahfeezunnor program, enabling you to memorize the Quran with accuracy and fluency. Our dedicated instructors and structured curriculum provide a supportive environment for students to achieve their hifz goals. 
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Muslim Cleric Course</h3>
                    <span>2 Years</span>
                    <p class="line-text">
                      Muslim Cleric combines Islamic knowledge with worldly education, preparing individuals to become well-rounded religious leaders for the contemporary world. This course is equivalent to the Maulvi course.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Muslim Scholar Course </h3>
                    <span>4 Years</span>
                    <p class="line-text">
                      Muslim Scholar Course combines Islamic knowledge with worldly education, preparing individuals to become well-rounded religious leaders for the contemporary world. This course is at the same level as the Alim course. 
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Muslim Intellectual Course</h3>
                    <span>5 Years</span>
                    <p class="line-text">
                      Muslim Intellectual Course combines Islamic knowledge with worldly education, preparing individuals to become well-rounded religious leaders for the contemporary world. This course has the same content as the Fazil course.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sufi Course</h3>
                    <span>6 Months</span>
                    <p class="line-text">
                      Sufi Course delves into the rich tradition of Sufi Islam.  Explore the path of self-purification, spiritual growth, and connection with the divine through Sufi teachings, (dhikr - remembrance), and spiritual practices (wird and wazaif).
                    </p>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- education Section End -->

  

    


    <%- include('./partials/bottom.ejs') %>
