<%- include('./partials/head.ejs') %>

<span></span>
<section class="section-padding services">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<form method="POST" action="/pe/pay" enctype="application/x-www-form-urlencoded">
							<div class="form-group">
								<b><label for="phone">Phone Number / फो़न नंबर</label></b>
								<input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number / फो़न नंबर डालें" required pattern="\d{10}" />
							</div>

							<div class="form-group">
								<b><label for="amount">Amount / रक़म </label></b>
								<input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount / रक़म भरें" required pattern="\d{4}" />
							</div>

							<div class="form-group">
								<b><label for="imdad-type">Select imdad type / इमदाद की क़िस्म चुनें </label></b>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="zakat" name="imdadType" value="Zakat" />
									<label class="form-check-label" for="zakat">Zakat / ज़कात</label>
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="imdad" name="imdadType" value="Imdad" />
									<label class="form-check-label" for="imdad">Imdad / इमदाद</label>
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="fitra" name="imdadType" value="Fitra" />
									<label class="form-check-label" for="fitra">Fitra / फितरा</label>
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="sadqa" name="imdadType" value="Sadqa" />
									<label class="form-check-label" for="sadqa">Sadqa / सदका़</label>
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="ushr" name="imdadType" value="Ushr" />
									<label class="form-check-label" for="ushr">Ushr / उश्र</label>
								</div>
							</div>

							<div class="form-group">
								<input type="hidden" class="form-control" id="txnid" name="txnid" />
								<input type="hidden" class="form-control" id="formType" name="formType" value="peForm" />
							</div>

							<button type="submit" class="btn btn-primary btn-block">Submit / जमा करें</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	// Add validation on submit
	document.querySelector('form').addEventListener('submit', (e) => {
		// Get input values
		const phone = document.querySelector('#phone').value;
		const amount = document.querySelector('#amount').value;

		// Phone validation
		if (!phone.match(/\d{10}/)) {
			e.preventDefault();
			alert('Please enter a valid 10 digit phone number');
		}

		// Amount validation
		// if (amount < 1 || amount > 9999) {
		// 	e.preventDefault();
		// 	alert('Please enter amount between 1 and 9999');
		// }
	});
</script>

<%- include('./partials/bottom.ejs') %>
