<%- include('./partials/head.ejs') %>

<!-- Terms Section Start -->
<!-- <base href="/">  -->
<span> </span>
<section id="Terms" class="section-padding">
	<div class="container">
		<div class="card mb-3">
			<div class="card-body">
				<h2 class="card-title section-title wow flipInX">Terms and Conditions</h2>

				<h6 class="card-text">Welcome to the world of ​www.sawadeazam.org​! These terms and conditions are the guidelines for using our website. By using and accessing our website, you are agreeing to adhere to these terms and conditions. If you disagree with any part of these terms, please refrain from using our site.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Acknowledgment of Terms:</b></h6>
				<h6 class="card-text">Upon entering ​www.sawadeazam.org​, you are confirming that you have read, comprehended, and accepted these terms and conditions. If these terms are not agreeable to you, please avoid using our website.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Intellectual Property:</b></h6>
				<h6 class="card-text">All the content found on ​www.sawadeazam.org​, including text, images, videos, and audio, belongs to ​www.sawadeazam.org​ and is safeguarded by copyright laws. You must not replicate, distribute, alter, or utilize any content from our website without our prior written consent.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>User Behavior:</b></h6>
				<h6 class="card-text">When utilizing ​www.sawadeazam.org​, you must adhere to these guidelines: Refrain from engaging in any illegal, harmful, or offensive activities. Do not upload or transmit any illegal or defamatory content. Do not attempt to breach our website's security or disrupt its operations. Do not use our website for commercial purposes without our authorization.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Liability Limitation:</b></h6>
				<h6 class="card-text">​www.sawadeazam.org​, alongside its staff and affiliates, will not be liable for any damages, direct or indirect, arising from your use of our website. We provide no guarantee regarding the accuracy, reliability, or completeness of our content.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Third-Party Website Links:</b></h6>
				<h6 class="card-text">Our website may include links to third-party sites for your convenience. We do not endorse or approve of the content on these sites. Your access to third-party websites is at your own risk as we are not accountable for their content or practices.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Amendment of Terms and Conditions:</b></h6>
				<h6 class="card-text">We hold the right to alter these terms and conditions without prior notice. Any modifications are effective immediately upon posting on our website. It is your responsibility to review these terms periodically for updates.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Legal Matters and Jurisdiction:</b></h6>
				<h6 class="card-text">These terms and conditions are governed by the laws of the jurisdiction where ​www.sawadeazam.org​ operates. Disputes related to these terms are subject to the jurisdiction of the courts in that location.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b> Payments and Refunds:</b></h6>
				<h6 class="card-text">Once you make a payment on ​www.sawadeazam.org​, it is non-refundable unless explicitly stated otherwise. All payments are considered final unless there are special circumstances determined by ​www.sawadeazam.org​. Carefully review all details before making a payment. For questions or concerns, contact our customer support at support@sawadeazam.org.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b> User Obligations:</b></h6>
				<h6 class="card-text">
					In addition to the above terms, users are accountable for: Providing accurate information during registration. Keeping login details confidential. Abiding by laws and regulations. Avoiding activities that disrupt the website's functionality. Not misusing the website for unlawful purposes. <br /><br />
					Any violation of these responsibilities may lead to the suspension or termination of access to ​www.sawadeazam.org​. Regularly review the terms for updates. Contact us at info@sawadeazam.org for any queries.
				</h6>
			</div>
		</div>
	</div>
</section>
<!-- Terms Section End -->

<!-- Privacy Section starts -->
<section id="Privacy" class="services section-padding">
	<div class="container">
		<div class="card mb-3">
			<div class="card-body">
				<h2 class="card-title section-title wow flipInX">Privacy Policy</h2>

				<h6 class="card-text">We at www.sawadeazam.org value your privacy and are committed to protecting your personal information. This privacy policy outlines how we collect, use, and disclose information from users of our website.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Information We Collect</b></h6>
				<h6 class="card-text">We may collect the following types of information from users:</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Personal information:</b></h6>
				<h6 class="card-text">This may include your name, email address, phone number, and other information you provide during registration or when contacting us. Usage data: This may include information about your activity on our website, such as the pages you visit and the links you click.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>How We Use Your Information:</b></h6>
				<h6 class="card-text">We may use your information for the following purposes: To provide you with the services offered on our website. To send you important information about our website, such as changes to our terms and conditions or privacy policy. To respond to your inquiries and requests. To improve our website and services.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Disclosure of Your Information:</b></h6>
				<h6 class="card-text">We may disclose your information to third-party service providers who help us operate our website and provide our services. We will only disclose your information to these providers if they agree to comply with our privacy standards.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Your Rights:</b></h6>
				<h6 class="card-text">You have the right to access, correct, or delete your personal information. You can also opt out of receiving marketing communications from us.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Changes to Our Privacy Policy:</b></h6>
				<h6 class="card-text">We may update this privacy policy from time to time. We will notify you of any changes by posting the updated policy on our website.</h6>

				<br />
				<h6 class="card-subtitle mb-2 text-body-secondary"><b>Contact Us:</b></h6>
				<h6 class="card-text">If you have any questions about our privacy policy, please contact us at admin@sawadeazam.org. By incorporating a privacy policy, ​www.sawadeazam.org​ can demonstrate its commitment to user privacy and build trust with its users.</h6>
			</div>
		</div>
	</div>
</section>
<!-- privacy section ends -->
<%- include('./partials/bottom.ejs') %>
